
body{
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}

 a{
    text-decoration: none;
 }
h1,h2,h3{
    margin-top: 0;
    margin-bottom: 0;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
/* main styles */

.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1024px; 
    margin-left:  auto;
    margin-right: auto;  
    
}



/* main content styles */
.main_content{
    background-color: #FFFFFF;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    padding: 90px 90px 100px 90px;
    
}


/* .about user styles */
.about_user{
  margin-bottom: 40px; 
  

}

.about_position{
font-style: normal;
font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about_name{
font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #4B4B5A;
    margin-bottom: 15px;
}

.about_discription{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    
}

/* projects styles */
.projects{
    margin-bottom: 50px;
}
   

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
    background-color: #4B4B5A;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
    
}
.project_item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;

}

.project{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_list{
    padding: 0;
    margin-left: 15px;
    list-style: none;
}

/* .project_link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
} */


.project_link{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
   
    
}
 .github-link{
  display: inline-flex;   
   
} 

.icon-github{
    margin-right: 15px;
}

.project_bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
 }
 .describe-project{
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
 }
/* work styles */ 

.work_position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 10px;
}

.line{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list{
    padding: 0;
    margin-left: 15px;
}

.work_list_item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}


/* education styles */
.education{
  margin-top: 45px; 
}

.education_title{
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
    background-color: #4B4B5A;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
}

.university{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.speciality{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
}


/* sidebar styles */
.sidebar{
    background-color: #DBDBDB;
    padding-top: 20px;
    width:370px ;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
}

.photo {
    display: block;
    /* width: 250px;
    height: 250px; */
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
   
    margin-right: auto;
    margin-left: auto;
    
}

.sidebar_title{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
    background-color: #4B4B5A;
      
}





.contacts{
    margin-bottom: 25px;
}
.contacts-wrapper{
    padding-top: 25px;
}
.contact_type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 5px;
}

.contact_link{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-left: 30px;
    margin-bottom: 5px;
    color: #4B4B5A;
}

.tech_skills{
    margin-bottom: 25px;
}

.tech_skills_list{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-left: 10px;
    margin-left: 30px;
    padding-top: 25px;
    margin-top: 0;
    margin-bottom: 0;

    color: #FFFFFF;
}

.tech_skill_item{
    color: #4B4B5A;
}

.tech_skill_text{
    color: #4B4B5A;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.soft_skills{
    margin-bottom: 25px;
}
.soft_skills_title{
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
    background-color:#4B4B5A;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
}

.soft_skills_list{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 25px;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.soft_skills_text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4B4B5A;
}

.soft_skills_item{
    color: #4B4B5A;
}

.language-title{
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
    background-color: #4B4B5A;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.language-list{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    margin-left: 15px;
}

.language-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    list-style: none;
    color: #4B4B5A;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.icon {
    fill: currentColor;
    margin-right: 10px;
}
.button{
    display: inline-block;
    margin-top: 50px;
    
    background-color: #4B4B5A;
    color: #fff;
    padding: 0.75rem 2.5rem;
    font-weight: 500;
    border-radius: 0.5rem;
    transition: 0.3s;
    
}
@media print {
    body{
        margin: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .main{
        padding-bottom: 0;
        margin-bottom: 0;
        outline: none;
    }
    .main_content{
        box-shadow: none;
       margin-bottom: 0;
       padding-bottom: 0;
       
    }
    .sidebar{
        
        padding-bottom: 6px;
        box-shadow: none;
    }
}

